* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

span {
  margin: 0 5px 0 0;
}

.button {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 12px;
  background: #5f9bc0;
  border: 0;
  color: #fff;
}

.button:hover {
  background: #4283aa;
}

.button:active {
  background: #286090;
}
